{% extends "app/layout.html" %}

{% block content %}

<script src="../../static/app/scripts/jquery-1.10.2.js"></script>

<style>
.highlight
{
background-color:yellow;
}
</style>

<h2>Annotation '{{annotationText}}'</h2>
<h3>Passage:</h3> <span id="passageTextSpan">{{passageText}}</span>
<script>
    $(document).ready(function () {
        var t = $("#passageTextSpan").html();
            t = t.replace("{{annotationText}}", "<span class='highlight'>{{annotationText}}</span>");
            $("#passageTextSpan").html(t)
    }); 

</script>
<br/><br/><br/>
<p style="font-weight:700">The ontology database entries we matched: </p>

    <form method="post" action="">
        {% csrf_token %}
        {% for match in matches %}
            <p>
                {{match.1}}
                <select id="match_{{match.0|urlencode}}" name="match_{{match.0|urlencode}}">
                    {% for dropDownOption in dropDownOptions %}
                        <option value="{{dropDownOption.0}}">{{dropDownOption.1}}</option>
                    {% endfor %}
                </select>
            </p>
        {% endfor %}
        <input type="submit" name="choose_how_well" value="Submit"/>
        <input type="hidden" name="annotationText" value="{{annotationText}}"/>
     </form>
{% endblock %}
