{% extends "app/layout.html" %}

{% block content %}

<h3>We found {{ matchCount }} matches to '{{annotationText}}'</h3>
<p style="font-weight:700">How well did we do? </p>

    <form method="post" action="">
        {% csrf_token %}
        {% for match in matches %}
            <p>
                {{match.1}}
                <select id="match_{{match.0|urlencode}}" name="match_{{match.0|urlencode}}">
                    {% for dropDownOption in dropDownOptions %}
                        <option value="{{dropDownOption.0}}">{{dropDownOption.1}}</option>
                    {% endfor %}
                </select>
            </p>
        {% endfor %}
        <input type="submit" name="choose_how_well" value="Submit"/>
     </form>
{% endblock %}
